
.article {
    display: grid;
    grid-template-columns: 25% 56% 15%;
    grid-column-gap: 2%;
    background-color: #F0F0F0;
    border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
}

.movieInfoContainer {
    display: flex;  
    flex-direction: column;
}

.actorsContainer {
    display: flex;
}

.ratingContainer {
    background-color: #D86366;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 49% 49%;
    padding: 5%;
    grid-column-gap: 2%;
    box-sizing: border-box;
}

.ratingItem1 {
    grid-column: 1 / -1;
    text-align: center; 
}



.ratingItem2, .ratingItem3 {
    margin: 0px;
    align-self: center;
}

.ratingItem2 {
    text-align: right;
    font-size: 3em; 
}


.ratingItem3 {
    text-align: left; 
    font-size: 2em; 
}

.thumbsIcon {
    width: 90%;
    align-self: center;
    justify-self: center;
}


.actorImage {
    height: 59px;
    width: 59px;
}

.actorName {
    font-size: 0.7rem;
    color: #454545;
    margin-right: 14px;
}

.h3 {
    display: inline-block;
}

.span {
    font-size: 0.8em;
    font-weight: 500;
}

.eyeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}