
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2); // todo REMOVE THIS BACKGROUND AFTER IMAGE ADD
}

section {
  height: 100%;
}

footer {
 background-color: #4A4A4A;
 text-align: center;
}