.formSection {
    width: 50%;
    margin: 0 auto;
}

.formInput {
    width: 100%;
    box-sizing: border-box;
}

.suggestionContainer {
    padding: 5px;
    border: 1px solid #000;
    border-top: 1px solid #D86366
}